@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* GLOBAL FORMATTING */
body {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    background-color: #e7f0fc;
    color: #2c2f30;
}

/* FORM */
#coming-soon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 700px;
    min-width: 700px;
    height: 400px;
    margin-top: 20px;
    margin: 30px;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form-questions {
    display: flex;
    /* padding: 40px; */
    flex-direction: column;
}

#deployment-button {
    width: 100px;
    max-width: 50%;
    justify-content: right;
    align-items: right;
}

#test-form {
    /* CSS GRID */
    display: grid;
    grid-template-columns: 0.5fr 1.5fr; 
    grid-template-rows: 0.1fr 0.8fr 0.8fr 0.1fr; 
    grid-template-areas: 
        "form-header form-header ."
        "form-div1 form-div2 ."
        "form-div3 form-div4 ."
        "form-footer form-footer .";
    /* LAYOUT */
    padding: 20px;
    margin-top: 20px;
    min-width: 500px;
    max-width: 700px;
    border-radius: 5px;
    /* PRETTY COLOR THINGS */
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form-header { 
    grid-area: form-header; 
    margin-top: 20px;
    margin-bottom: 10px;
    height: 30px;
    padding: 10px;
    justify-self: center;
}

.form-section-header {
    padding: 20px;
}

/* FORM SECTION HEADERS BY ID */
#form-div1 { grid-area: form-div1; margin-top: 8px;}
#form-div3 { grid-area: form-div3; margin-top: 8px;}

/* FORM QUESTION SECTIONS BY ID */
.form-div2 { grid-area: form-div2; margin-right: 30px; padding: 10px;}
.form-div4 { grid-area: form-div4; margin-right: 30px; padding: 10px;}

.form-footer { 
    grid-area: form-footer; 
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
    justify-self: center;
}

#minikube-form {
    display: grid; 
    grid-template-columns: 0.7fr 1.3fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        "form-header1 form-questions1"
        "form-header2 form-questions2"; 
    min-width: 700px;
    max-width: 900px;
    padding: 30px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* LANDING PAGE */
#landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px;
}

#landing-page-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.landing-page-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-page-button {
    background-color: #e7f0fc;
    border: 0;
    transition: all .2s ease-in-out; 
}

.landing-page-button:hover {
    transform: scale(1.2);
}

/* SETUP PAGE */
.code-snippet {
    display: flex;
    flex-direction: row;
}

/* FORMATTING FOR NAVIGATION */
.nav-button {
    display: flex;
    align-content: center;
    justify-content: center;
}

.section {
    transition: transform 0.5s ease-in-out;
    transform: translateY(100%);
}

.section.landing-page {
    /* background-color: #E57373; */
  }
  
.section.setup {
    /* background-color: white; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
  
.section.form {
    background-color: #64B5F6;
}

.section.active {
    transform: translateY(0);
  }