@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* GLOBAL FORMATTING */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    background-color: #e7f0fc;
    color: #252929;
}

/* FORM */
.form-questions {
    display: flex;
    /* padding: 40px; */
    flex-direction: column;
}

#deployment-button {
    width: 100px;
    max-width: 50%;
    justify-content: right;
    align-items: right;
}

#test-form {
    /* CSS GRID */
    display: grid;
    grid-template-columns: 0.5fr 1.5fr; 
    grid-template-rows: 0.1fr 0.8fr 0.8fr 0.1fr; 
    grid-template-areas: 
        "form-header form-header ."
        "form-div1 form-div2 ."
        "form-div3 form-div4 ."
        "form-footer form-footer .";
    /* LAYOUT */
    padding: 20px;
    margin-top: 20px;
    min-width: 500px;
    max-width: 700px;
    border-radius: 5px;
    /* PRETTY COLOR THINGS */
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form-header { 
    grid-area: form-header; 
    margin-top: 20px;
    margin-bottom: 10px;
    height: 30px;
    padding: 10px;
    justify-self: center;
}

.form-section-header {
    padding: 20px;
}

/* FORM SECTION HEADERS BY ID */
#form-div1 { grid-area: form-div1; margin-top: 8px;}
#form-div3 { grid-area: form-div3; margin-top: 8px;}

/* FORM QUESTION SECTIONS BY ID */
.form-div2 { grid-area: form-div2; margin-right: 30px; padding: 10px;}
.form-div4 { grid-area: form-div4; margin-right: 30px; padding: 10px;}

.form-footer { 
    grid-area: form-footer; 
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
    justify-self: center;
}

#minikube-form {
    display: grid; 
    grid-template-columns: 0.7fr 1.3fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        "form-header1 form-questions1"
        "form-header2 form-questions2"; 
    min-width: 700px;
    max-width: 900px;
    padding: 30px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#the-code-block {
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* LANDING PAGE */
#homepage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
    height: 92vh;
    width: 95vw;
    /* background-color: #E57373; */
    /* background-image: url(https://images.unsplash.com/photo-1618172193763-c511deb635ca?auto=format&fit=crop&q=80&w=2864&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); */
    /* background-image: url(https://images.unsplash.com/photo-1620121692029-d088224ddc74?auto=format&fit=crop&q=80&w=2832&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); */
    background-image: url(https://images.unsplash.com/photo-1618005198919-d3d4b5a92ead?auto=format&fit=crop&q=80&w=2874&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    /* background-image: url('./assets/milad-fakurian-background.jpg'); */
    background-size: cover;
    border-radius: 30px;
}

#landing-header-container {
    margin-bottom: 40px;
}

#landing-header-title {
    font-weight: 500;
    font-size: 80px;
    margin: 0;
    padding: 10px;
}

#landing-header-text {
    font-weight: 400;
    font-size: 33px;
    margin: 0;
    padding: 0;
}

#landing-page-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#landing-body-text {
    font-size: 25px;
    font-weight: 400;
}

.landing-page-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-page-button {
    background-color: #e2e5fa;
    border: 0;
    border-radius: 30px;
    width: 420px;
    height: 20vh;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.25);
    transition: all .2s ease-in-out; 
}

.landing-page-button:hover {
    transform: scale(1.1);
}

/* SETUP PAGE */
#cloud-setup-instructions {
    align-items: center;
    max-width: 700px;
    padding: 20px;

}

#minikube-setup-instructions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 92vh;
    width: 95vw;
    margin-top: 50px;
}

.setup-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border: red solid;
    border-radius: 30px;
}

.setup-paper {
    background-color: #f2f3f9;
    border-radius: 30px;
    padding: 1px 5px 5px 5px;
    margin: 5px;
}

.setup-content {
    margin: 30px;
    padding: 30px;
}

.setup-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.code-snippet {
    display: flex;
    flex-direction: row;
    background-color: #f6f6f6;
    border: solid #ededed 1px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
    justify-content: space-between;
}

/* FORMATTING FOR NAVIGATION */
.nav-button {
    display: flex;
    align-content: center;
    justify-content: center;
}

.section {
    transition: transform 0.5s ease-in-out;
    transform: translateY(100%);
}

.section.cloud {
    background-color: #E57373;
}
  
.section.setup {
    background-color: greenyellow;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
  
.section.form {
    background-color: #64B5F6;
}

.section.active {
    transform: translateY(0);
  }

@keyframes spin {
from {
    transform: rotate(0deg);
}
to {
    transform: rotate(360deg);
}
}

.spin {
animation: spin 1s linear infinite;
}